<h1> insert something into mongo </h1>

<form method="POST" action="/insert">
    <label for="newPost">
    <input id="newPost" name="newPost">
    <input name="something">
    <input type="submit" value="insert">
</form>


<a href="/read">go to read page</a>